* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: hsl(4, 100%, 67%);
    --light-primary-color: #ff48a0;
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsla(231, 7%, 60%, 0.7);
    --white: hsl(0, 0%, 100%);
}

@font-face {
    font-family: regFont;
    src: url("assets/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: boldFont;
    src: url("assets/fonts/Roboto-Bold.ttf");
}

body {
    font-family: regFont;
    background-color: var(--charcoal-grey);
}

.container {
    width: 750px;
    position: fixed;
    display: flex;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: var(--dark-slate-grey);
    background-color: var(--white);
    border-radius: 20px;
}

.container .sign-up {
    flex-basis: 60%;
    padding: 30px 50px 30px 30px;
}

h2 {
    font-size: 40px;
    font-family: boldFont;
    margin-bottom: 20px;
}

p {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.8;
}

.container ul {
    list-style-type: none;
}

.container ul li {
    font-size: 13px;
    margin-bottom: 10px;
}

.container ul li::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('assets/images/icon-list.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
    vertical-align: middle;
}

.container form {
    margin-top: 40px;
}

.container form .email-container {
    font-family: boldFont;
    font-size: 14px;
}

.container form .email-container .line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container form .email-container .line span {
    color: var(--primary-color);
    font-size: 12px;
    display: none;
}

.container form input {
    display: block;
    width: 100%;
}

.container input::placeholder {
    color: var(--grey);
}

.container form input[type="email"] {
    padding: 13px 20px;
    border: 1px solid var(--grey);
    border-radius: 6px;
    margin: 10px 0 25px;
}

.container form input[type="email"]:focus {
    outline: none;
    color: var(--dark-slate-grey);
    border: 1px solid var(--dark-slate-grey);
    cursor: pointer;
}

.container .image img {
    max-width: 100%;
}


.success-message {
    display: none;
    position: fixed;
    width: 375px;
    padding: 40px;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: var(--dark-slate-grey);
}

.success-message h2 {
    margin-top: 30px;
}

.success-message p span {
    font-family: boldFont;
}

/* start components  */
.main-btn {
    width: 100%;
    border: none;
    color: var(--white);
    background-color: var(--dark-slate-grey);
    font-family: boldFont;
    font-size: 12px;
    letter-spacing: 0.5px;
    padding: 15px 20px;
    border-radius: 6px;
    transition: .4s;
}

.main-btn:hover {
    background: linear-gradient(270deg, var(--primary-color), var(--light-primary-color));
    box-shadow: 12px 12px 30px hsla(4, 100%, 67%, 0.6);
    cursor: pointer;
}

.invalid-email {
    background-color: hsla(4, 100%, 67%, 0.1);
    color: var(--primary-color);
    border: 1px solid var(--primary-color) !important;
}

/* end components  */